{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{%static 'cadastro/css/styles.css'%}">
</head>
<body>
    <h1> Login </h1>
    <form action="{%url 'cadastro:logar'%}" method="POST">
        {% csrf_token %}
        <div class = "form-content form-content-grid"> 
            {%for field in form%}
                <div class = "form-group">
                    <label for="{{field.id_for_label}}"> {{field.label}} </label>
                    {{field}}
                </div>
            {%endfor%}
        </div>
        <div class = "form-content form-content-grid"> 
            <div class = "form-group">
                <button type="submit"> Login </button>
            </div>
        </div>
            <div class = "form-content form-content-grid"> 
                <div class = "form-group">
                    <a href={%url 'cadastro:cadastro'%}>Não tenho cadastro</a>
                </div>
            </div>
        
    </form>
</body>
</html>